.a {
    display: grid;
    grid-template-columns: 400px 200px;
    grid-template-rows: 350px;
    gap: 4px;
}

.b {
    background-color: antiquewhite;
    border: 2px solid black;
}

.sb {
    background-color: thistle;
    border: 2px solid black;
}