.a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;
}

.b {
    background-color: aqua;
    border: 3px solid black;
}

@media (max-width: 900px) {
    .a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .a {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
        gap: 10px;
    }
}

