.a{
    display: inline-grid;
    grid-template-columns:400px  ;
    grid-template-rows:100px 400px 200px ;
    gap: 6px;

}
.b{
    background-color: aliceblue;
    border: 3px solid black;
   
    
}
.d{
    background-color: aliceblue;
    border: 3px solid black;
    

   
}

.f{
    background-color: aliceblue;
    border: 3px solid black;


}