
.a{border-radius: 4px;
background-color: cyan;
padding-left: 30px;
font-size: 40px;
width:360px ;

}
.c{border-radius: 4px;
background-color: cyan;
padding-left: 30px;
font-size: 40px;
margin-bottom: 100px;
width:360px ;
}
body{
    margin: 300px;
    margin-left: 600px;
    margin-right: 600px;
    
    max-width: 900px;
    margin: 300px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }
   img{height: 200px;
border-radius: 1000000px;
width: 200px;
margin-left: 350px;
margin-bottom: 100px;
}
