.p {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
}

.a {
    border-radius: 4px;
    background-color: aquamarine;
}

.b {
    border-radius: 4px;
    background-color: aqua;
}

.d {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 50px;
    gap: 10px;
    position: sticky;
    top: 5px;
}

.c {
    border: 4px solid black;
    background-color: grey;
    border-radius: 5px;
    
}